/* styles/components/featuredAds.module.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(37 99 235);
}

.adsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.adCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.adCard:hover {
  transform: translateY(-5px);
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 66.67%; /* 3:2 aspect ratio */
}

.adImage {
  border-radius: 8px 8px 0 0;
}

.adContent {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.adTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.adDescription {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
  flex-grow: 1;
}

.adPrice {
  font-size: 1.1rem;
  font-weight: bold;
  color: #4a5568;
  margin-bottom: 0.5rem;
}

.adLocation {
  font-size: 0.9rem;
  color: #718096;
  margin-bottom: 0.5rem;
}

.adDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.adDetail {
  font-size: 0.8rem;
  color: #4a5568;
}

.adAmenities {
  font-size: 0.8rem;
  color: #718096;
  margin-bottom: 0.5rem;
}

.adAvailable {
  font-size: 0.8rem;
  color: #48bb78;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .adsGrid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }

  .adTitle {
    font-size: 1.1rem;
    color: #000000db;
  }

  .adDescription {
    font-size: 0.8rem;
  }

  .adPrice {
    font-size: 1rem;
  }

  .adLocation,
  .adDetail,
  .adAmenities,
  .adAvailable {
    font-size: 0.75rem;
  }
}
